---
name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build_and_upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Set environment variables
        run: |
          RAW_TAG="${GITHUB_REF##*/}"
          VERSION_TAG="${RAW_TAG#v}"
          echo "RELEASE_TAG=${VERSION_TAG}" >> $GITHUB_ENV

      - name: Build static editor
        run: make build-editor-no-update

      - name: Create package
        run: make package VERSION=${RELEASE_TAG}

      - name: Upload ZIP to release
        uses: softprops/action-gh-release@v2
        with:
          files: exelearning-${{ env.RELEASE_TAG }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
